<!-- Comment:  This is main page of our chatting application-->
<!-- Nice to check: https://www.w3schools.com/html/html_intro.asp -->

<!-- Comment: Under card you can see messages -->
<!--Card - bootstrap - https://getbootstrap.com/docs/5.0/getting-started/introduction/ check also Examples -->
<div class="card">
  <div class="card-header">
      <h4>Let's chat</h4>
  </div>
  <div id="body" class="card-body scroll">
<!--    Angular *ngFor https://angular.io/api/common/NgFor&ndash it loop msgInboxArray array-->
    <ng-container *ngFor="let mObj of msgInboxArray">
<!--      Styling class (msg-container) is specified in web-chat-app/src/app/chat-app/chat-app.component.scss-->
      <div class="msg-container"
         [ngClass]="{
          receivedMessage: mObj.user !== f.username.value,
          sentMessage: mObj.user === f.username.value
        }">
        <div>
<!--          Styling class (user) is specified in web-chat-app/src/app/chat-app/chat-app.component.scss-->
          <p class="user">
<!--            Item from msgInboxArray array which contains user from web-chat-app/src/app/models/message.ts-->
            {{ mObj.user }}
          </p>
        </div>
<!--        Styling classes (msg-wrapper and msg) is specified in web-chat-app/src/app/chat-app/chat-app.component.scss-->
        <div class="msg-wrapper">
          <div class="msg">
<!--            Item from msgInboxArray array which contains msgText from web-chat-app/src/app/models/message.ts-->
            {{ mObj.msgText }}
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<!-- Comment: In the form you can see textbox for username, text and button -->
<!--Angular - formGroup - https://angular.io/guide/dynamic-form -->
<form [formGroup]="form">
<!--  Bootstrap "pt" shortcut for padding top https://getbootstrap.com/docs/5.0/utilities/spacing/
you can try here: https://www.w3schools.com/css/tryit.asp?filename=trycss_padding_sides -->
  <div class="form-row pt-2">
<!--    Bootstrap "col" shortcut for column https://www.w3schools.com/bootstrap/bootstrap_grid_system.asp -->
    <div class="col-3">
      <label for="username" class="sr-only">Username</label>
      <input
        type="text"
        class="form-control"
        placeholder="Your name"
        formControlName="username"
      />
    </div>
    <div class="col-8">
      <div class="form-group mb-2">
        <label for="message" class="sr-only">Message</label>
        <input
          type="text"
          class="form-control"
          formControlName="msgText"
          rows="3"
        />
      </div>
    </div>
    <div class="col-1">
      <div class="row pl-2">
<!--    You can find onSumbit() method in web-chat-app/src/app/chat-app/chat-app.component.ts you can clik on F12-->
        <button (click)="onSubmit()" class="btn btn-primary mb-2">
<!--          Icon is from fortawesome https://fontawesome.com/v4/icons/ -->
          <fa-icon [icon]="faPaperPlane"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</form>
