<!--This is main page of our chatting application-->

<!--Card - bootstrap - https://getbootstrap.com/docs/5.0/components/card/-->
<div class="card">
  <div class="card-header">
<!--    Display flex (d-flex_ with additional flex properties https://getbootstrap.com/docs/5.0/utilities/flex/-->
<!--    Align-items-center https://www.w3schools.com/cssref/css3_pr_align-items.php-->
    <div class="d-flex justify-content-between align-items-center">
      <h4>Let's chat</h4>
    </div>
  </div>
  <div id="body" class="card-body scroll">
<!--    Angular *ngFor https://angular.io/api/common/NgFor&ndash it loop msgInboxArray array-->
    <ng-container *ngFor="let mObj of msgInboxArray">
<!--      Styling class (msg-container) is specified in web-chat-app/src/app/chat-app/chat-app.component.scss-->
      <div class="msg-container">
        <div>
<!--          Styling class (user) is specified in web-chat-app/src/app/chat-app/chat-app.component.scss-->
          <p class="user">
<!--            Item from msgInboxArray array which contains property from web-chat-app/src/app/models/message.ts-->
            {{ mObj.user }}
          </p>
        </div>
<!--        Styling classes (msg-wrapper and msg) is specified in web-chat-app/src/app/chat-app/chat-app.component.scss-->
        <div class="msg-wrapper">
          <div class="msg">
<!--            Item from msgInboxArray array which contains property from web-chat-app/src/app/models/message.ts-->
            {{ mObj.msgText }}
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<!--Angular - formGroup - https://angular.io/api/forms/FormGroup-->
<form [formGroup]="form">
<!--  Bootstrap "pt" shortcut for padding top https://getbootstrap.com/docs/5.0/utilities/spacing/-->
  <div class="form-row pt-2">
<!--    Bootstrap "col" shortcut for column https://www.w3schools.com/bootstrap/bootstrap_grid_system.asp-->
    <div class="col-3">
      <label for="username" class="sr-only">Username</label>
      <input
        type="text"
        class="form-control"
        placeholder="Your name"
        formControlName="username"
      />
    </div>
    <div class="col-8">
      <div class="form-group mb-2">
        <label for="message" class="sr-only">Message</label>
        <input
          type="text"
          placeholder="Type message here"
          class="form-control"
          formControlName="msgText"
          rows="3"
        />
      </div>
    </div>
    <div class="col-1">
      <div class="row pl-2">
      <div class="d-flex justify-content-end pl-2">
<!--    You can find onSumbit() method in web-chat-app/src/app/chat-app/chat-app.component.ts-->
        <button (click)="onSubmit()" class="btn btn-primary mb-2">
<!--          Icon is from fortawesome https://fontawesome.com/v4/icons/-->
          <fa-icon [icon]="faPaperPlane"></fa-icon>
        </button>
      </div>
      </div>
    </div>
  </div>
</form>
