//Good to know https://www.w3schools.com/css/

// styling for main chatting panel
.msg-container {
  width: 100%;
  display: flex;
  padding-top: 15px;
}

// styling for scrollbar
.scroll {
  height: 100px;
  overflow: auto;
  @media (min-width: "768px") {
    height: 500px;
  }
}

//styling for message
.msg {
  border-radius: 10px;
  background-color: #555;
  color: white;
  padding: 5px;
}
.msg-wrapper{
  max-width: 50%;
  border-radius: 10px;
  min-width: 30%;
}

//styling for user
.user {
  padding-top: 3px;
  margin-bottom: 0px;
  padding-right: 10px;
  font-size: small;
  font-weight: bold;
}

//styling for left/right messages
//before you start, play game: http://www.flexboxfroggy.com

.msg-container.sentMessage {
  justify-content: flex-start;
}

.msg-container.receivedMessage {
   justify-content: flex-start;
}

.msg-container.sentMessage>div>.msg {
  background-color: #555;
  color: white;
  padding: 5px;
}

.msg-container.receivedMessage>div>.msg {
  background-color: #555;
  color: white;
  padding: 5px;
}

//styling
.datetime {
  font-size: smaller;
  padding-right: 10px;
  font-weight: lighter;
}
